### IP2 
## Hayden Horn 2/9/22
## 2022-Spring Semester

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

df=pd.read_csv("weather_2012.csv")

In [2]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [3]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [4]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
452,2012-01-19 20:00:00,-3.7,-11.9,53,30,16.1,100.63,Snow
274,2012-01-12 10:00:00,-6.2,-9.6,77,35,4.8,100.46,Snow
5941,2012-09-04 13:00:00,25.2,17.8,64,9,24.1,100.89,Cloudy
2283,2012-04-05 03:00:00,1.9,-4.6,62,13,25.0,100.41,Mostly Cloudy
5041,2012-07-29 01:00:00,18.4,13.7,74,13,25.0,101.16,Clear

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   object
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [7]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [15]:
df1=df.rename(columns={'Date/Time': 'date_time', 'Temp (C)': 'temp_c','Dew Point Temp (C)':'dew_point',
                        'Rel Hum (%)':'relative_humidity','Wind Spd (km/h)':'wind_speed','Visibility (km)':'visibility',
                        'Stn Press (kPa)':'pressure','Weather':'weather'})
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   object
 1   temp_c             8784 non-null   float64
 2   dew_point          8784 non-null   float64
 3   relative_humidity  8784 non-null   int64
 4   wind_speed         8784 non-null   int64
 5   visibility         8784 non-null   float64
 6   pressure           8784 non-null   float64
 7   weather            8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [21]:
df2 = df1[["wind_speed","temp_c"]].mean()
print(df2)

wind_speed    14.945469
temp_c         8.798144
dtype: float64

In [22]:
df3 = df1[["wind_speed","relative_humidity"]].mode()
print(df3)

   wind_speed  relative_humidity
0           9                 68

In [34]:
df1.insert( 'temp_f', df1[['temp_c']*(1.8)+32.0],False)

TypeError: can't multiply sequence by non-int of type 'float'

In [36]:
df1.dtypes

date_time             object
temp_c               float64
dew_point            float64
relative_humidity      int64
wind_speed             int64
visibility           float64
pressure             float64
weather               object
dtype: object

In [40]:
df1['date_time']=pd.to_datetime(df1['date_time'])
df1.dtypes

date_time            datetime64[ns]
temp_c                      float64
dew_point                   float64
relative_humidity             int64
wind_speed                    int64
visibility                  float64
pressure                    float64
weather                      object
dtype: object

In [47]:
df1['weather'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Haze                                         16
Thunderstorms,Rain Showers                   16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Moderate Snow                                 4
Freezing Fog                                  4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Snow Showers,Fog                              4
Thunderstorms,Rain Showers,Fog                3
Thunderstorms,Rain                            3
Rain,Haze                                     3
Freezing Drizzle,Haze                         3
Moderate Snow,Blowing Snow                    2
Drizzle,Snow                                  2
Thunderstorms                                 2
Rain Showers,Snow Showers                     2
Freezing Rain,Haze                            2
Rain,Snow Grains                              1
Thunderstorms,Rain,Fog                        1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Rain,Snow,Fog                                 1
Freezing Rain,Snow Grains                     1
Thunderstorms,Heavy Rain Showers              1
Rain,Ice Pellets                              1
Rain Showers,Fog                              1
Drizzle,Ice Pellets,Fog                       1
Snow Pellets                                  1
Thunderstorms,Moderate Rain Showers,Fog       1
Name: weather, dtype: int64

In [49]:
df1.to_csv('weather_2012_new.csv',index=False)